{
	"extends": [
		"@trigen/eslint-config",
		"@trigen/eslint-config/jest"
	],
	"env": {
		"node": true
	},
	"overrides": [{
		"files": [
			"babel.config.js"
		],
		"extends": "@trigen/eslint-config/commonjs"
	}]
}
